*{
    margin: 0px;
    padding: 0px; 

}
body,html{
    margin: 0px;
    padding: 0px;
    height: 100%;
     background: rgb(159,211,199);
    background: linear-gradient(180deg, rgba(159,211,199,1) 50%, rgba(20,45,76,1) 100%);
}
.center-wrapper {
    text-align: center;
    margin-top: 40px;
}

.heading {
    font-size: 128px;
    font-weight: 900;
    color: #142D4C;
    font-family: 'Archivo Black', sans-serif;
}
.score-and-round {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 60px;
   color: white;
  }
#score,
#round {
    font-size: 28px;
   
  }
.btn{
    display: flex;
    justify-content: center;
}
button{
    font-size: 30px ;
    font-weight: 600;
    padding: 20px 40px;
    color: white;
    background-color: #385170;
    border-radius: 18px;
    border: 1px solid #ccc;

}
button:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.card-pos-a{
    grid-area:a;
}
.card-pos-b{
    grid-area: b;
}
.card-pos-c{
    grid-area: c;
  }
.card-pos-d{
    grid-area: d;
}
.card-pos-a, .card-pos-b,.card-pos-c,.card-pos-d{
    display:inline-flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: nowrap;
    padding: 20px;
}

.card {
    width: 150px; 
    height: 300px; 
    margin: 0 5px;
    padding: 5px;
    margin:2rem;
    margin-left: 12rem;
    
  
  }
  
  .card img {
    width: auto; 
    height: 250px; 
    border: 1px solid black;
    object-fit: fit;
    border-radius: 10px; 
  
  }
  .card-inner{
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
  }
  .card-front, .card-back{
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
  .card-img{

    height:100%;
}
.card-back{
    transform: rotateY(180deg);
}
.card-inner.flip-it{
    transform: rotateY(180deg);
}
